{% extends "base.html" %}

  

{% block content %}
<h1>TEMPORADA {{ year }}</h1>

{% if error %}
  <p style="color: red;">{{ error }}</p>
{% endif %}

<table border="1" cellpadding="5">
  <tr>
    <th>Ronda</th>
    <th>Evento</th>
    <th>Ganador</th>
    <th>Primera posicion</th>
  </tr>
  {% for race in races %}
    <tr>
      <td>{{ race.round }}</td>
      <td>{{ race.event }}</td>
      <td>{{ race.winner }}</td>
      <td>{{ race.pole }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}