echo ".env" >> .gitignore
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env
.venv/
venv/
env/
*.egg-info/
dist/
build/

# PyCharm
.idea/

# VS Code
.vscode/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Others
*.log
.f1cache/